# ==========================
# Ambiente Virtual
# ==========================
.venv/

# ==========================
# Variáveis de Ambiente
# ==========================
.env

# ==========================
# Cache Python
# ==========================
__pycache__/
*.py[cod]

# ==========================
# Pytest
# ==========================
.pytest_cache/

# ==========================
# VS Code
# ==========================
.vscode/

# ==========================
# Sistema Operacional
# ==========================
.DS_Store
Thumbs.db